@(uid: String)

@main(uid) {

    <div id="error" style="display: none">
        <noscript>
            <span class="error">Javascript is not enabled.</span>
        </noscript>
    </div>

    <div class="playername">
        <strong> <span id="pname" class="name">your name</span></strong>
        <!--<strong> <span id="pid">Id:</span></strong> -->
    </div>

    <div id="main">
        <div id="viewport">
            <label for="localTextArea">Your info</label>
            <p id="localTextArea">Local info</p>
            <form method="POST" action="@routes.GameController.logout()" target="_self">
                <input type="submit" value="Logout" />
            </form>

            <label for="allTextArea">All info</label>
            <p id="allTextArea">All info</p>
            <p>&nbsp;</p>

            <label for="chatArea">Chat</label>
            <div id="chatArea" class="pre-scrollable" style="height: 150px">

        </div>
        </div>
        <div>
            <form id="commandForm" role="form" class="form-inline">
                <input type="text" class="form-control" id="commandInput" placeholder="Enter command">
                <button type="button" class="btn btn-primary" id="commandSendButton">Send</button>
                <button type="button" class="btn btn-success" id="commandPlayButton">Play</button>
                <button type="button" class="btn btn-success" id="commandTileButton">Tile</button>
                <button type="button" class="btn btn-danger" id="commandClearButton">Clear</button>
            </form>
        </div>

        @*<div>*@
            @*<h3>Local stream</h3>*@
            @*<video id="videoInput" autoplay width="480px" height="360px"*@
            @*poster="@routes.Assets.at("images/webrtc.png")"></video>*@
        @*</div>*@

        @*<div>*@
            @*<h3>Remote stream</h3>*@
            @*<video id="videoOutput" autoplay width="480px" height="360px"*@
            @*poster="@routes.Assets.at("images/webrtc.png")"></video>*@
        @*</div>*@

        <div id="participants">
            <!-- Place for participants -->
        </div>
    </div>

    <script type="text/javascript" src="@routes.Assets.at("javascripts/adapter.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/kurento-utils.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/participant.js")"></script>
    @*<script type="text/javascript" src="@routes.Assets.at("javascripts/conferenceroom.js")"></script>*@

    <script type="text/javascript" src="@routes.Assets.at("/javascripts/game.js")"></script>


}
