@(uid: String)

@main("Default") {

<div class="panel panel-default">
    <div class="panel-body">
        <section class="video" id="participants">
            <div class="participant hidden" id="me">
                <video id="webcam-me" autoplay="true" muted="muted"></video>
            </div>
        </section>
        <section class="chat">
            <div class="chat-display" id="chatArea">
            </div>
        </section>
    </div>
    <div class="panel-heading">
        <p class="playername">
            Your name: <span id="pname" class="name"></span> in room: <span id="room" class="room"></span>
        </p>
        <a class="btn btn-success btn-broadcast" id="commandPlayButton">
            Start Broadcast
        </a>
    </div>
    <div class="panel-footer">
        <a class="btn btn-default btn-clear" id="commandClearButton">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Clear
        </a>
        <div class="input-group">
            <span class="input-group-addon">You:</span>
            <input type="text" class="form-control" placeholder="Your message..." id="commandInput">
                    <span class="input-group-btn">
                      <a class="btn btn-primary" type="button" id="commandSendButton">Send</a>
                    </span>
        </div>
    </div>
</div>
<div id="error" style="display: none">
    <noscript>
        <span class="error">Javascript is not enabled.</span>
    </noscript>
</div>

}
